@tailwind base;
@tailwind components;
@tailwind utilities;

/*! Toaster */
.toaster {
    @apply fixed bottom-5 left-1/2 transform -translate-x-1/2 w-64 p-4 rounded-md text-white text-center transition-all duration-300 z-50;
}

.visible {
    @apply translate-y-0 opacity-100;
}

.error {
    @apply bg-red-500;
}

.primary {
    @apply bg-blue-500;
}

.warning {
    @apply bg-yellow-500;
}

.sussess {
    @apply bg-green-500;
}

/*!Scroll costumizado */
::-webkit-scrollbar {
    width: 0.5rem;
    heigth: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: #0D1D25;
    border-radius: 1rem;
}

::-webkit-scroll-track {
    background-color: transparent;
}